body {
  color: #11242f;
  font-family: 'Libre Baskerville', serif;
  font-size: 11pt;
  background: #f2f5f6;
}
body .inner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
body .content-wrap {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: block;
  height: 100%;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body >.content-wrap a {
  color: #000;
  text-decoration: none;
  padding: 0px 3px;
  margin: 0 -3px;
  -webkit-box-shadow: 0 -5px 0 #ffc328 inset;
  box-shadow: 0 -5px 0 #ffc328 inset;
  font-variant: small-caps;
  text-transform: lowercase;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
body >.content-wrap a:hover {
  background-color: #ffd569;
}
.clear {
  clear: both;
}
a,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif !important;
}
div.cta-section {
  padding: 100px 0;
  text-align: center;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
div.cta-section h1,
div.cta-section p {
  margin: 0 auto;
}
div.cta-section h1 {
  max-width: 750px;
}
div.cta-section a.cta-button {
  display: block;
  max-width: 300px;
  background: #4799fc;
  -webkit-box-shadow: 0 1px 0 #336fb0;
  box-shadow: 0 1px 0 #336fb0;
  border-top: 1px solid #68abfd !important;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
  padding: 25px;
  margin: 50px auto;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
}
div.cta-section a.cta-secondary {
  color: #11242f;
  font-style: italic;
}
div.cta-section a.cta-secondary:hover {
  border-bottom: 1px solid #11242f;
}
.page-banner {
  position: relative;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0;
}
.page-banner h1 {
  line-height: 1.25em;
  -webkit-transition: font-size 0.2s ease-in-out;
  -moz-transition: font-size 0.2s ease-in-out;
  -o-transition: font-size 0.2s ease-in-out;
  -ms-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}
.page-banner .carousel-slide {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px -3px 0 #bd202f inset;
  box-shadow: 0px -3px 0 #bd202f inset;
}
.page-banner .carousel-slide:first-of-type {
  float: left;
}
.page-banner .carousel-slide.banner-video {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-shadow: 0px -3px 0 #bd202f inset;
  box-shadow: 0px -3px 0 #bd202f inset;
}
.page-banner .carousel-slide.banner-video #video {
  position: absolute;
  top: 50%;
  left: 50%;
  webkit-transform: translate(-50%, -50%);
  moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto;
  min-width: 101%;
  min-height: 101%;
}
.page-banner .carousel-slide.banner-video .video-caption {
  position: absolute;
  bottom: 100px;
  right: 80px;
  text-align: right;
  font-size: 5rem;
  margin: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}
.page-banner .carousel-slide.banner-text h1 {
  white-space: normal;
  display: inline-block;
  margin: 0;
  font-size: 6rem;
  line-height: 0.97;
  width: 100%;
}
.page-banner .carousel-slide.banner-text h1 span {
  float: left;
  line-height: 3;
}
.page-banner .carousel-slide.banner-text h1 a {
  clear: both;
  font-size: 4rem;
  color: #fff;
  float: right;
  font-style: italic;
  font-weight: 100;
  display: block;
  font-family: 'Libre Baskerville', serif;
}
.page-banner .carousel-slide.banner-image {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.page-banner .carousel-slide.banner-image .title {
  margin: 0;
  position: absolute;
  color: #fff;
  bottom: 80px;
  right: 40px;
  font-size: 4rem;
  text-align: right;
  text-shadow: 0 0 30px #11242f;
  line-height: 1em;
}
.page-banner .carousel-slide.banner-image .caption {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 0.8rem;
  white-space: normal;
  text-align: left;
  color: #6a7086;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 25px;
  background: #fff;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
.page-banner span.banner-counter {
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  cursor: pointer;
  border: 2px solid #fff;
}
.page-banner span.banner-counter.active {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.page-banner span.banner-counter:last-of-type {
  left: 55px;
}
.page-banner span.banner-counter::after {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #00f;
}
.info-header,
.page-header {
  position: relative;
  width: 75%;
  max-width: 650px;
  margin: 50px auto 0;
  padding: 50px;
}
.info-header ::before,
.page-header ::before {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #e5e5e6;
}
.info-header ::after,
.page-header ::after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #e5e5e6;
}
.info-header h1,
.page-header h1 {
  font-family: 'Libre Baskerville', serif !important;
  text-align: center;
}
.content-wrap .info-header {
  width: 66%;
  max-width: 650px;
  margin: auto;
}
.content-wrap .info-header p {
  font-size: 1.25em;
}
.content-wrap .pull-quote {
  position: relative;
  width: 75%;
  max-width: 650px;
  margin: 0 auto;
  padding: 50px;
}
.content-wrap .pull-quote ::before,
.content-wrap .pull-quote ::after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #e5e5e6;
}
.content-wrap .pull-quote ::after {
  top: initial;
  bottom: 0;
}
.content-wrap .pull-quote h1 {
  font-family: 'Libre Baskerville', serif !important;
  text-align: center;
}
.content-wrap .textwidget p:first-of-type,
.content-wrap .textwidget h2:first-of-type {
  margin-top: 0;
}
.donate-banner {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #78858a;
  font-family: 'Roboto', sans-serif;
}
.donate-banner .close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  font-size: 2em;
}
.donate-banner .close-button:focus {
  outline: none;
}
@media all and (max-height: 700px) {
  .page-banner h1 {
    font-size: 4.5rem !important;
  }
}
@media all and (max-width: 1300px) and (min-width: 981px) {
  .page-banner h1 {
    font-size: 4.5rem !important;
  }
}
@media all and (max-width: 980px) and (min-width: 841px) {
  .page-banner h1 {
    font-size: 3.5rem !important;
  }
}
@media all and (max-width: 840px) and (min-width: 641px) {
  .page-banner h1 {
    font-size: 2.5rem !important;
  }
}
@media all and (max-width: 640px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow: hidden;
    font-size: 9pt;
  }
  body.page-id-16 .page-banner .carousel-slide.banner-video {
    background-position: 35% center;
  }
  body.page-id-22 .page-banner .carousel-slide.banner-image {
    background-position: 70% center;
  }
  body.page-id-24 .page-banner .carousel-slide.banner-image {
    background-position: 20% center;
  }
  body.page-id-57 .page-banner .carousel-slide.banner-image {
    background-position: 85% center;
  }
  body.page-id-193 .page-banner .carousel-slide.banner-image {
    background-position: 13% center;
  }
  body.page-id-195 .page-banner .carousel-slide.banner-image {
    background-position: 5% center;
  }
  .content-wrap {
    margin-top: 20px;
    padding-bottom: 0 !important;
  }
  .page-banner {
    height: 90vh !important;
  }
  .page-banner h1 {
    width: initial !important;
    font-size: 2.7rem !important;
  }
  .page-banner h1 span {
    margin-top: 2em;
    font-size: 3rem;
  }
  .page-banner i {
    font-size: 2rem !important;
  }
  .page-banner .carousel-slide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .page-banner .carousel-slide.banner-text {
    padding: 70px 0;
  }
  .page-banner .carousel-slide.banner-text h1 span {
    line-height: 0.97;
  }
  .page-banner .carousel-slide.banner-video {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
  }
  .page-banner .carousel-slide.banner-video #video {
    display: none;
  }
  .page-banner .carousel-slide.banner-video .video-caption {
    bottom: 70px;
    right: 30px;
  }
  .page-banner .carousel-slide.banner-image .title {
    bottom: 120px;
  }
  .page-banner .carousel-slide.banner-image .caption {
    font-size: 0.8rem;
  }
  .page-banner .carousel-slide.banner-image i {
    display: none !important;
  }
  .info-header,
  .page-header {
    padding: 20px 0;
    width: 90%;
    margin: 20px auto 40px;
  }
  .page-header .page-header-content h1 {
    font-size: 1.2rem !important;
    text-align: left;
  }
  .content-wrap {
    padding-top: 0 !important;
  }
  .panel-grid-cell {
    margin-bottom: 20px !important;
  }
  .panel-grid {
    margin-bottom: 20px !important;
  }
  .pull-quote {
    width: 100% !important;
    padding: 20px 0 !important;
  }
  .info-header {
    margin-top: 50px !important;
    width: 100%;
  }
  .cta-section {
    padding: 40px 10% 40px !important;
    background: #f7f7f7;
    border-top: 1px solid #e5e5e6;
  }
}
header#header {
  position: fixed;
  top: 0;
  z-index: 99999 !important;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);
  box-shadow: 0 1px 2px rgba(0,0,0,0);
  background: transparent;
  -webkit-transition: background 100ms ease-in-out, box-shadow 100ms ease-in-out;
  -moz-transition: background 100ms ease-in-out, box-shadow 100ms ease-in-out;
  -o-transition: background 100ms ease-in-out, box-shadow 100ms ease-in-out;
  -ms-transition: background 100ms ease-in-out, box-shadow 100ms ease-in-out;
  transition: background 100ms ease-in-out, box-shadow 100ms ease-in-out;
}
header#header.scrolled {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
header#header.scrolled .menu-main-navigation-container ul li a,
header#header.scrolled .menu-secondary-navigation-header-menu-container ul li a {
  color: #11242f;
  text-shadow: none;
}
header#header #logo {
  margin-left: 10px;
  display: inline-block;
  -webkit-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}
header#header #logo a.custom-logo-link {
  display: inline-block;
}
header#header #logo img {
  width: auto;
  height: 50px;
}
header#header .menu-main-navigation-container {
  right: 0;
}
header#header .menu-main-navigation-container ul li:last-of-type {
  margin-right: 0;
  background: #ffc328;
}
header#header .menu-main-navigation-container ul li:last-of-type a,
header#header .menu-main-navigation-container ul li:last-of-type a:visited {
  padding: 15px 20px;
  color: #fff;
  letter-spacing: 0.025em;
  text-shadow: none;
}
header#header .menu-secondary-navigation-header-menu-container {
  left: 70px;
}
header#header .menu-main-navigation-container,
header#header .menu-secondary-navigation-header-menu-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header#header .menu-main-navigation-container ul,
header#header .menu-secondary-navigation-header-menu-container ul {
  margin: 0;
  padding: 0;
}
header#header .menu-main-navigation-container ul li,
header#header .menu-secondary-navigation-header-menu-container ul li {
  display: inline-block;
  list-style-type: none;
}
header#header .menu-main-navigation-container ul li a,
header#header .menu-secondary-navigation-header-menu-container ul li a,
header#header .menu-main-navigation-container ul li a:visited,
header#header .menu-secondary-navigation-header-menu-container ul li a:visited {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 15px;
  display: block;
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
}
body.admin-bar header#header {
  top: 32px;
}
@media all and (max-width: 640px) {
  body.admin-bar header#header {
    top: 46px;
  }
  body header#header {
    height: initial;
  }
  body header#header div ul li a {
    padding: 10px !important;
    font-size: 0.9rem !important;
  }
  body header#header .inner-wrap {
    float: left;
  }
  body header#header .inner-wrap #logo {
    float: inherit;
  }
  body header#header .inner-wrap #logo a img {
    height: 45px;
  }
  body header#header.scrolled .menu-main-navigation-container ul li a,
  body header#header.scrolled .menu-secondary-navigation-header-menu-container ul li a {
    color: #11242f !important;
  }
  body header#header .menu-main-navigation-container {
    overflow-x: scroll;
    position: initial;
    float: right;
    -webkit-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    -ms-transform: initial;
    transform: initial;
    display: none;
  }
  body header#header .menu-main-navigation-container::-webkit-scrollbar {
    display: none;
  }
}
footer#footer {
  padding: 70px 0 50px;
  text-align: center;
  background: #11242f;
  background: -webkit-linear-gradient(45deg, #11242f 0%, #001e2f 100%);
  background: -moz-linear-gradient(45deg, #11242f 0%, #001e2f 100%);
  background: -o-linear-gradient(45deg, #11242f 0%, #001e2f 100%);
  background: -ms-linear-gradient(45deg, #11242f 0%, #001e2f 100%);
  background: linear-gradient(45deg, #11242f 0%, #001e2f 100%);
  color: #78858a;
}
footer#footer .content-wrap {
  margin: 0 auto;
}
footer#footer .content-wrap a,
footer#footer .content-wrap a:visited {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
footer#footer .content-wrap a:hover,
footer#footer .content-wrap a:visited:hover {
  color: #78858a;
}
footer#footer .content-wrap ul {
  padding: 0;
}
footer#footer .content-wrap ul.social {
  margin-top: 0;
  font-size: 1.5em;
}
footer#footer .content-wrap ul li {
  display: inline-block;
  margin: 0 15px;
  font-family: 'Roboto', sans-serif;
}
footer#footer .content-wrap ul#menu-footer-navigation {
  margin: 50px 0;
}
footer#footer .content-wrap .notice span:last-of-type {
  display: block;
  font-size: 0.8em;
  margin: 20px auto 0;
  max-width: 480px;
}
@media all and (max-width: 640px) {
  footer#footer {
    margin-top: 0 !important;
    padding: 40px 0;
  }
  footer#footer .content-wrap {
    padding-bottom: 0;
  }
  footer#footer .content-wrap .menu-footer-navigation-container ul#menu-footer-navigation {
    display: inline-block;
    margin: 10px 0 20px;
  }
  footer#footer .content-wrap .menu-footer-navigation-container ul#menu-footer-navigation li {
    width: 33.333333333333336%;
    margin: 0;
    float: left;
  }
  footer#footer .content-wrap .menu-footer-navigation-container ul#menu-footer-navigation li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 6px;
    float: left;
  }
}
body.home .page-banner {
  height: 95vh;
}
body.home .page-banner i.fa {
  display: block !important;
}
body.home footer#footer {
  margin-top: 0 !important;
}
#partners {
  display: none;
  background: #f7f7f7;
  text-align: center;
  padding: 100px 0;
}
#partners #partners-list {
  padding: 0;
  list-style-type: none;
}
#partners #partners-list li {
  display: inline-block;
}
#partners #partners-list li .partner-logo {
  height: 100px;
}
#partners #partners-list li .partner-logo img {
  height: 100%;
  width: auto;
}
#partners #partners-list li p {
  font-style: italic;
}
#content-blocks .component:hover:nth-of-type(1) {
  background: #d63545;
}
#content-blocks .component:hover:nth-of-type(2) {
  background: #ffc328;
}
#content-blocks .component:hover:nth-of-type(3) {
  background: #4799fc;
}
#content-blocks .component a:hover {
  color: #fff;
}
.component {
  position: relative;
}
.component a,
.component a:visited {
  color: #11242f;
}
.component.media {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.component.media aside {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.component.media aside:first-of-type {
  width: 55%;
  float: left;
}
.component.media aside:last-of-type {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 45%;
  padding: 0 7.5%;
  text-align: center;
}
.component.media aside:last-of-type .secondary-title {
  font-style: italic;
}
.component.media:nth-of-type(2n) aside:first-of-type {
  float: right;
}
.component.media:last-of-type::before {
  display: none;
}
.component.image aside:first-of-type {
  padding-bottom: 40%;
}
.component.video aside:first-of-type {
  padding: 0;
}
.component.pullquote {
  width: 75%;
  margin: 0 auto;
}
.component.pullquote h1 {
  font-family: 'Libre Baskerville', serif !important;
  text-align: center;
}
.component.pullquote p {
  width: 100%;
  padding-right: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
@media all and (max-width: 640px) {
  .component {
    background: #fff !important;
    padding-top: 0 !important;
    padding-bottom: 40px !important;
  }
  .component.media {
    border-bottom: none;
  }
  .component.media aside {
    position: relative !important;
    width: 100% !important;
    float: none;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .component.media aside:last-of-type {
    margin-top: 20px !important;
  }
  .component::before {
    display: none;
  }
  .component.image aside:first-of-type {
    padding-bottom: 66%;
  }
  .component.pullquote {
    width: 100%;
  }
  .component.pullquote h1 {
    font-size: 1.25em;
  }
}
body.page-template-page-team .content-wrap .section-wrap {
  padding-bottom: 50px;
  border-bottom: 1px solid #78858a;
  width: 100%;
  display: inline-block;
}
body.page-template-page-team .content-wrap .section-wrap:last-of-type {
  border-bottom: none;
}
body.page-template-page-team .content-wrap .section-wrap#board .team-member {
  width: 33.3333%;
  margin-right: 0;
}
body.page-template-page-team .content-wrap .section-wrap#board .team-member:last-of-type {
  border-right: none;
}
body.page-template-page-team .content-wrap .section-wrap#mentioned-volunteers .volunteers {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
body.page-template-page-team .content-wrap .section-wrap .title {
  font-style: italic;
  margin-bottom: 20px;
}
body.page-template-page-team .content-wrap .section-wrap .team-member {
  display: inline-block;
  width: 25%;
  margin: 0 0 2% 0;
  vertical-align: top;
  float: left;
}
body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(4n) {
  margin-right: 0;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .headshot {
  display: inherit;
  width: 100%;
  border: 5px solid #f2f5f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 75%;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .headshot.empty {
  background: #78858a;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .personal-info {
  text-align: left;
  font-size: 0.8em;
  margin: 5px 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .personal-info span:nth-of-type(2) {
  font-size: 0.6rem;
}
@media all and (max-width: 960px) and (min-width: 641px) {
  body.page-template-page-team .content-wrap .section-wrap .team-member {
    width: 32.5%;
    margin-right: 0.5%;
  }
  body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(2n) {
    margin-right: 0.5%;
  }
  body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media all and (max-width: 640px) {
  body.page-template-page-team .content-wrap .section-wrap .team-member,
  body.page-template-page-team .content-wrap #board .team-member {
    width: 50% !important;
    margin-bottom: 10px !important;
  }
  body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(2n),
  body.page-template-page-team .content-wrap #board .team-member:nth-of-type(2n) {
    margin-right: 0;
  }
  body.page-template-page-team .content-wrap .section-wrap#info-header div,
  body.page-template-page-team .content-wrap #board#info-header div {
    width: 100%;
    max-width: none;
  }
  body.page-template-page-team .content-wrap .section-wrap#info-header div p,
  body.page-template-page-team .content-wrap #board#info-header div p {
    font-size: 1.25em;
    margin-bottom: 0;
  }
  body.page-template-page-team .content-wrap .section-wrap#mentioned-volunteers .volunteers,
  body.page-template-page-team .content-wrap #board#mentioned-volunteers .volunteers {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}
body.page-template-page-donate #panel-69-1-0-0,
body.page-template-page-donate #panel-245-1-0-0 {
  margin-bottom: 25px !important;
}
body.page-template-page-donate footer#footer {
  margin-top: 100px;
}
body.page-id-195,
body.page-id-193,
body.page-id-69 {
  background: #f2f5f6;
}
body.page-template-page-form .section-tabs,
body.page-id-193 .section-tabs {
  width: 100%;
  margin-bottom: 50px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
body.page-template-page-form .section-tabs li,
body.page-id-193 .section-tabs li {
  display: inline-block;
  margin: 0 10px;
}
body.page-template-page-form .section-tabs li button,
body.page-id-193 .section-tabs li button {
  font-family: 'Roboto', sans-serif, sans-serif;
  background: none;
  border: 0;
  font-size: 2em;
  font-weight: 900;
  text-transform: capitalize;
}
body.page-template-page-form .section-tabs li button.active,
body.page-id-193 .section-tabs li button.active {
  border-bottom: 3px solid #ffc328;
}
body.page-template-page-form .section-tabs li button:focus,
body.page-id-193 .section-tabs li button:focus {
  outline: none;
}
body.page-template-page-form .main-content,
body.page-id-193 .main-content {
  max-width: 1024px;
  margin: auto;
}
body.page-template-page-form section,
body.page-id-193 section {
  display: none;
}
body.page-template-page-form section.active,
body.page-id-193 section.active {
  display: block;
}
body.page-template-page-form footer#footer,
body.page-id-193 footer#footer {
  margin-top: 100px;
}
.form-page form {
  width: 600px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.form-page form h2 {
  width: 600px;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 -30px;
  background: #4799fc;
  color: #fff;
  display: inline-block;
  float: left;
}
.form-page form .grouping {
  width: 100%;
  padding: 0;
  margin: 0 auto 50px;
  display: inline-block;
  float: left;
}
.form-page form .grouping:last-of-type {
  width: 600px;
  margin-left: -30px;
  margin-bottom: 0;
  display: inline-block;
}
.form-page form .grouping .input {
  position: relative;
  margin-top: 35px;
  float: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.form-page form .grouping .input.hidden {
  height: 0px;
  margin-top: 0px;
}
.form-page form .grouping .input.checkbox {
  margin-top: 0;
  padding: 10px 11px;
}
.form-page form .grouping .input.checkbox:nth-of-type(1),
.form-page form .grouping .input.checkbox:nth-of-type(2) {
  margin-top: 35px;
}
.form-page form .grouping .input.col-1 {
  width: 50%;
}
.form-page form .grouping .input.col-1:nth-of-type(n) {
  padding-right: 11px;
}
.form-page form .grouping .input.col-1:nth-of-type(2n) {
  padding-left: 11px;
}
.form-page form .grouping .input.col-1:nth-of-type(2n) label {
  left: 20px;
}
.form-page form .grouping .input.col-2 {
  width: 100%;
}
.form-page form .grouping .input textarea {
  resize: vertical;
}
.form-page form .grouping .input input,
.form-page form .grouping .input textarea {
  display: block;
}
.form-page form .grouping .input input,
.form-page form .grouping .input textarea,
.form-page form .grouping .input .hiddenDiv {
  font-size: 18px;
  font-weight: 300;
  margin-top: 11px;
  min-height: 32px;
  font-family: 'Roboto', sans-serif, sans-serif;
  color: #000;
  padding: 0 10px 10px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-page form .grouping .input input:focus,
.form-page form .grouping .input textarea:focus,
.form-page form .grouping .input .hiddenDiv:focus {
  outline: none;
}
.form-page form .grouping .input input:focus ~ .bar::before,
.form-page form .grouping .input textarea:focus ~ .bar::before,
.form-page form .grouping .input .hiddenDiv:focus ~ .bar::before,
.form-page form .grouping .input input:focus ~ .bar::after,
.form-page form .grouping .input textarea:focus ~ .bar::after,
.form-page form .grouping .input .hiddenDiv:focus ~ .bar::after {
  width: 50%;
}
.form-page form .grouping .input input:focus ~ .highlight,
.form-page form .grouping .input textarea:focus ~ .highlight,
.form-page form .grouping .input .hiddenDiv:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -o-animation: inputHighlighter 0.3s ease;
  -ms-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.form-page form .grouping .input input:focus ~ label,
.form-page form .grouping .input textarea:focus ~ label,
.form-page form .grouping .input .hiddenDiv:focus ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}
.form-page form .grouping .input input.used ~ label,
.form-page form .grouping .input textarea.used ~ label,
.form-page form .grouping .input .hiddenDiv.used ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
}
.form-page form .grouping .input label {
  color: #a9a9a9;
  font-size: 15px;
  font-weight: 100;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.form-page form .grouping .input .bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-page form .grouping .input .bar::before,
.form-page form .grouping .input .bar::after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #ffc328;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.form-page form .grouping .input .bar::before {
  left: 50%;
}
.form-page form .grouping .input .bar::after {
  right: 50%;
}
.form-page form .grouping .input .highlight {
  position: absolute;
  height: 25px;
  width: 25px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  top: 12px;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.form-page form .grouping fieldset {
  border: none;
  padding: 0 0 0 10px;
  margin: 35px 0 0 0;
}
.form-page form .grouping fieldset legend {
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
}
.form-page form .grouping fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form-page form .grouping fieldset ul li {
  padding: 10px 0;
}
.form-page form .grouping fieldset ul li label {
  font-weight: 300;
  margin-left: 10px;
  color: #a9a9a9;
}
.form-page form .grouping fieldset ul li input:checked ~ label {
  color: #000;
}
.form-page form .grouping a {
  text-decoration: none;
  cursor: pointer;
  font-variant: initial;
  font-family: 'Roboto', sans-serif;
}
.form-page form .grouping.inset {
  margin-bottom: 10px;
}
.form-page form .grouping.inset .terms {
  font-size: 0.7rem;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #4799fc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #4799fc;
  border-color: initial;
  color: initial;
  text-align: justify;
  line-height: 1rem;
  font-family: 'Roboto', sans-serif;
}
.form-page form .grouping.inset .terms ol {
  padding-left: 20px;
  margin-right: 20px;
}
.form-page form .grouping.inset .terms ol li {
  padding-left: 5px;
}
.form-page form .grouping.inset .input.checkbox {
  margin-top: 10px;
}
.form-page form .grouping .insetWrapper {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  margin: 10px -5px -5px;
  -webkit-transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
  -moz-transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
  -o-transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
  -ms-transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
  transition: height 0.2s ease-in-out, padding 0.1s ease-in-out;
}
.form-page form .grouping .inset {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  float: left;
  display: inline-block;
  clear: both;
  padding: 30px;
  background: #fff;
}
.form-page form .grouping .inset p {
  width: 100%;
  margin: 0;
}
.form-page form .grouping .inset p em {
  width: 100%;
}
.form-page form .grouping .inset ol {
  padding-left: 20px;
  margin-bottom: 1em;
  text-align: justify;
  width: 100%;
  margin: 15px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-page form .grouping .inset ol li {
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 12px;
}
.form-page form .grouping .inset ol li a {
  font-family: 'Libre Baskerville', serif;
  float: none;
}
.form-page form .grouping .checkbox input {
  width: auto;
  float: left;
  margin-top: 6px !important;
  min-height: initial;
}
.form-page form .grouping .checkbox input:focus ~ label,
.form-page form .grouping .checkbox input:valid ~ label {
  top: initial;
  font-size: 16px;
  line-height: 1.8rem;
  font-weight: 100;
  color: #a9a9a9;
}
.form-page form .grouping .checkbox label {
  margin-left: 10px;
  float: left;
  position: initial;
  line-height: 1.8rem;
}
.form-page form .grouping .submit-button {
  font-family: 'Roboto', sans-serif;
  background: #4799fc;
  width: 600px;
  color: #fff;
  padding: 20px;
  border: none;
  font-weight: 800;
  font-size: 2rem;
}
.form-page .alternate-form {
  width: 600px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #aaa;
  text-align: center;
  margin: 40px auto;
}
.noscroll {
  overflow: hidden;
}
.hiddenDiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.form-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  color: #fff;
  background: rgba(71,153,252,0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10% 20%;
  font-family: 'Roboto', sans-serif, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
.form-success a {
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}
.form-success a.close-button {
  background: #fff;
  color: #4799fc;
  padding: 10px 30px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-bottom: 0;
  cursor: pointer;
}
@media all and (max-width: 640px) {
  body.page-template-page-form .section-tabs {
    margin-bottom: 40px !important;
  }
  body .form-page {
    margin-bottom: 20px;
  }
  body .form-page form {
    width: 100%;
  }
  body .form-page form .grouping .input.col-1 {
    width: 100%;
  }
  body .form-page form .grouping .input.col-1:nth-of-type(n) {
    padding: 10px 0;
  }
  body .form-page form .grouping .input.col-1:nth-of-type(2n) {
    padding: 10px 0;
  }
  body .form-page form .grouping .input.col-1:nth-of-type(2n) label {
    left: 10px;
  }
  body .form-page form .grouping .input.checkbox:nth-of-type(2n) {
    margin-top: 0;
  }
  body .form-page form .grouping.legal .checkbox input {
    position: absolute;
    left: -10px;
    top: 24px;
    padding: 15px;
  }
  body .form-page form .grouping.legal .open-legal {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 25px 25px 25px !important;
  }
  body .form-page form .grouping:last-of-type {
    width: 122%;
  }
  body .form-page form .grouping .submit-button {
    width: 100%;
  }
  body .form-page .insetWrapper {
    padding: 40px 30px 30px 30px !important;
  }
  body .form-page .alternate-form {
    width: 100%;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #ffc328;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #ffc328;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-o-keyframes inputHighlighter {
  from {
    background: #ffc328;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #ffc328;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.panel-grid .textwidget table {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  font-weight: 300;
  margin-top: 30px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
.panel-grid .textwidget table tr {
  border-bottom: 1px solid #eaeaea;
}
.panel-grid .textwidget table th {
  font-weight: 300;
  color: #aaa;
}
.panel-grid .textwidget table th:first-of-type {
  width: 17%;
  text-align: left;
}
.panel-grid .textwidget table th:nth-of-type(2) {
  width: 27%;
}
.panel-grid .textwidget table th:nth-of-type(3) {
  width: 39%;
}
.panel-grid .textwidget table th:nth-of-type(4) {
  width: 17%;
}
.panel-grid .textwidget table th:not(:first-of-type) {
  text-align: right;
}
.panel-grid .textwidget table th,
.panel-grid .textwidget table td {
  padding: 20px;
  vertical-align: top;
}
.panel-grid .textwidget table td:first-of-type {
  font-weight: 500;
}
.panel-grid .textwidget table td:not(:first-of-type) {
  text-align: right;
}
.wcopc #opc-messages,
.wcopc .woocommerce-info {
  display: none !important;
}
.wcopc form.checkout.woocommerce-checkout h3 {
  display: inline-block;
}
.wcopc form.checkout.woocommerce-checkout abbr.required {
  display: none;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p {
  margin-top: 35px;
  position: relative;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea {
  font-size: 18px;
  font-weight: 300;
  margin-top: 11px;
  min-height: 32px;
  font-family: 'Roboto', sans-serif, sans-serif;
  color: #000;
  padding: 0 10px 10px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input:focus,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input:focus,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea:focus,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea:focus {
  outline: none;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input:focus ~ .bar::before,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input:focus ~ .bar::before,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea:focus ~ .bar::before,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea:focus ~ .bar::before,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input:focus ~ .bar::after,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input:focus ~ .bar::after,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea:focus ~ .bar::after,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea:focus ~ .bar::after {
  width: 50%;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input:focus ~ .highlight,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input:focus ~ .highlight,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea:focus ~ .highlight,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -o-animation: inputHighlighter 0.3s ease;
  -ms-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input:focus ~ label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input:focus ~ label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea:focus ~ label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea:focus ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p input.used ~ label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p input.used ~ label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p textarea.used ~ label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p textarea.used ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
}
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-billing-fields p label,
.wcopc form.checkout.woocommerce-checkout #customer_details .col-2 .woocommerce-shipping-fields p label {
  color: #a9a9a9;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all;
  top: -11px;
  font-size: 12px;
  font-weight: 200;
}
.wcopc form.checkout.woocommerce-checkout #opc-product-selection {
  display: inline-block;
  width: 100%;
}
.wcopc form.checkout.woocommerce-checkout ul#checkout-products {
  margin-bottom: 30px;
  padding-left: 0;
}
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li {
  display: inline-block;
  margin-right: 35px;
}
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li:last-of-type {
  margin-right: 0;
}
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li span.attributes,
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li span.dash,
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li span.price {
  display: none;
}
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li label {
  display: inline;
}
.wcopc form.checkout.woocommerce-checkout ul#checkout-products li label input {
  width: initial;
  margin: auto;
}
.wcopc form.checkout.woocommerce-checkout .create-account {
  display: none !important;
}
.wcopc form.checkout.woocommerce-checkout abbr.required {
  text-decoration: none;
  border-bottom: none;
}
.wcopc form.checkout.woocommerce-checkout #order_review ul {
  list-style-type: none;
  padding-left: 10px;
}
.wcopc form.checkout.woocommerce-checkout .opc_order_review {
  display: none !important;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_methods {
  margin-bottom: 30px;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method {
  margin-top: 40px;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method:first-of-type {
  margin-top: 0;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method input.input-radio {
  width: initial;
  display: inline-block;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method label {
  display: inline-block;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_paypal .about_paypal {
  display: none;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_paypal p {
  font-size: 0.7rem;
  color: #6a7086;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p {
  margin-top: 35px;
  position: relative;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea {
  font-size: 18px;
  font-weight: 300;
  margin-top: 11px;
  min-height: 32px;
  font-family: 'Roboto', sans-serif, sans-serif;
  color: #000;
  padding: 0 10px 10px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input:focus,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea:focus {
  outline: none;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input:focus ~ .bar::before,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea:focus ~ .bar::before,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input:focus ~ .bar::after,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea:focus ~ .bar::after {
  width: 50%;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input:focus ~ .highlight,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -o-animation: inputHighlighter 0.3s ease;
  -ms-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input:focus ~ label,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea:focus ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p input.used ~ label,
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p textarea.used ~ label {
  top: -11px;
  font-size: 12px;
  font-weight: 200;
}
.wcopc form.checkout.woocommerce-checkout #payment .wc_payment_method.payment_method_stripe p label {
  color: #a9a9a9;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all;
  top: -11px;
  font-size: 12px;
  font-weight: 200;
}
.wcopc form.checkout.woocommerce-checkout #payment .place-order input.submit-button {
  font-family: 'Roboto', sans-serif;
  background: #4799fc;
  width: 600px;
  color: #fff;
  padding: 20px;
  border: none;
  font-weight: 800;
  font-size: 2rem;
  margin-left: -30px;
}
@media all and (max-width: 640px) {
  .wcopc form.checkout.woocommerce-checkout #payment .place-order input.submit-button {
    width: 122%;
  }
}
body.woocommerce-checkout .woocommerce,
body.woocommerce-order-received .woocommerce {
  width: 90%;
  max-width: 650px;
  margin: 100px auto;
  text-align: center;
}
