footer#footer
  text-align center
  background $deepBlue
  background linear-gradient(45deg, rgba(17,36,47,1) 0%, rgba(0,30,47,1) 100%)
  color $blueGrey
  font-family $sansSerif

  .content-wrap
   margin 0 auto

   a, a:visited
     color $white
     transition color .2s ease-in-out

     &:hover
      color $blueGrey

   ul
     padding 0

     &.social
      margin-top 0
      font-size 1.5em

     li
      display inline-block
      margin 0 15px

     &#menu-footer-navigation
      margin 50px 0

   .notice
     span
      &:last-of-type
        display block
        font-size .8em
        margin 5px auto 0
        max-width 480px

@media all and (max-width:640px)
  footer#footer
    margin-top 0 !important
    padding 40px 0

    .content-wrap
      padding-bottom 0

      .menu-footer-navigation-container
        ul#menu-footer-navigation
          display inline-block
          margin 10px 0 20px

          li
            width (100/3)%
            margin 0
            float left

            a
              box-sizing border-box
              width 100%
              padding 10px 6px
              float left