footer#footer
	padding 100px 0
	text-align center
	background $deep_blue
	color $white
	
	.content-wrap
		margin 0 auto
	
		a, a:visited
			color $blue_grey
			-webkit-transition color .2s ease-in-out
			-moz-transition color .2s ease-in-out
			-o-transition color .2s ease-in-out
			-ms-transition color .2s ease-in-out
			transition color .2s ease-in-out
			
			&:hover
				color $white

		ul
			padding 0
			
			&.social
				margin-top 0
				font-size 1.5em
			
			li
				display inline-block
				margin 0 15px
				font-family $sans_serif
					
			&#menu-footer-navigation
				margin 50px 0
		
		.notice
			span
				&:last-of-type
					display block
					font-size .8em
					margin 20px auto 0
					max-width 480px