footer#footer
  padding 70px 0 50px
  text-align center
  background $deepBlue
  background linear-gradient(45deg, rgba(17,36,47,1) 0%, rgba(0,30,47,1) 100%)
  color $blueGrey

  .content-wrap
   margin 0 auto

   a, a:visited
     color $white
     -webkit-transition color .2s ease-in-out
     -moz-transition color .2s ease-in-out
     -o-transition color .2s ease-in-out
     -ms-transition color .2s ease-in-out
     transition color .2s ease-in-out

     &:hover
      color $blueGrey

   ul
     padding 0

     &.social
      margin-top 0
      font-size 1.5em

     li
      display inline-block
      margin 0 15px
      font-family $sansSerif

     &#menu-footer-navigation
      margin 50px 0

   .notice
     span
      &:last-of-type
        display block
        font-size .8em
        margin 20px auto 0
        max-width 480px