footer#footer {
  padding: 70px 0 50px;
  text-align: center;
  background: $deepBlue;
  background: linear-gradient(45deg, #11242f 0%, #001e2f 100%);
  color: $blueGrey;
}
footer#footer .content-wrap {
  margin: 0 auto;
}
footer#footer .content-wrap a,
footer#footer .content-wrap a:visited {
  color: $white;
  transition: color 0.2s ease-in-out;
}
footer#footer .content-wrap a:hover,
footer#footer .content-wrap a:visited:hover {
  color: $blueGrey;
}
footer#footer .content-wrap ul {
  padding: 0;
}
footer#footer .content-wrap ul.social {
  margin-top: 0;
  font-size: 1.5em;
}
footer#footer .content-wrap ul li {
  display: inline-block;
  margin: 0 15px;
  font-family: $sansSerif;
}
footer#footer .content-wrap ul#menu-footer-navigation {
  margin: 50px 0;
}
footer#footer .content-wrap .notice span:last-of-type {
  display: block;
  font-size: 0.8em;
  margin: 20px auto 0;
  max-width: 480px;
}
