// form header
body
	&.page-template-page-form,
	&.page-id-193
		.section-tabs
			width 100%
			margin-bottom 50px
			padding 0
			list-style-type none
			text-align center
			
			li
				display inline-block
				margin 0 10px
				
				button
					font-family 'Roboto', sans-serif
					background none
					border 0
					font-size 2em
					font-weight 900
					text-transform capitalize
					
					&.active
						border-bottom 3px solid #ffc328
					
					&:focus
						outline none
		
		.main-content
			max-width 1024px
			margin auto
		
		section
			display none
			
			&.active
				display block
				
		footer#footer
			margin-top 100px

// form css
.form-page
	form
		ul
			padding 0
			
			li
				list-style-type none
				
		label
			display block
			font-style italic
		
		input, textarea
			width 100%
			margin 0 0 40px
			box-sizing border-box
			padding 10px
			border-top 0
			border-left 0
			border-right 0
			border-bottom 3px solid #11242f
			-webkit-transition all .2s ease-in-out
			-moz-transition all .2s ease-in-out
			-ms-transition all .2s ease-in-out
			-o-transition all .2s ease-in-out
			transition all .2s ease-in-out
			color #78858a
			
			&:focus
				margin-top 10px
				background #f7f7f7 !important
				outline none
				border-bottom 3px solid #ffc328
		
		textarea
			height 41px
			resize none
			
			&:focus
				height 200px

		fieldset, .checkbox
			label, input
				width initial
				display inline-block
			
			label
				font-style normal
			
			input
				margin-right 10px
				margin-bottom 20px
				-webkit-transition none
				-moz-transition none
				-ms-transition none
				-o-transition none
				transition none
				
				&:focus
					margin-top 0 !important
		
		fieldset
			legend
				font-style italic
		
		.insetWrapper
			display none
			position relative
			margin 0 0 20px
			padding 30px
			background #f7f7f7
			
			.close-button
				position absolute
				top 10px
				right 10px
				padding 5px 10px
				cursor pointer
				color #4799fc
				font-family 'Roboto', sans-serif
				font-weight 900
				letter-spacing 0.015em
						
		.grouping
			&.legal
				width 100%
				
				h2, .open-legal
					float left
				
				.open-legal
					color #4799fc
					font-family 'Roboto', sans-serif
					font-weight 900
					letter-spacing 0.015em
					padding 25px 25px 0px
					cursor pointer
					display block
				
				.inset
					width 95%
					color #78858a
					
					a
						color #78858a
						border-bottom 1px solid #78858a
						padding-bottom 2px
						-webkit-transition all .1s ease-in-out
						-moz-transition all .1s ease-in-out
						-ms-transition all .1s ease-in-out
						-o-transition all .1s ease-in-out
						transition all .1s ease-in-out
						
						&:hover
							color #11242f
							border-bottom 1px solid #11242f
				
				ol
					li
						margin-bottom 10px
		
		input[type="submit"]
			background #4799fc
			color #fff
			font-family 'Roboto', sans-serif
			font-weight 900
			padding 25px 0
			margin 50px 0
			font-size 20px
			letter-spacing 0.7px
			border-radius 2.5px
			border-top 0
			border-left 0
			border-right 0
			border-bottom 1px solid #11242f
		
	.wcopc
		#opc-messages,
		.woocommerce-info
			display none !important

		form.checkout.woocommerce-checkout
			#opc-product-selection
				ul#checkout-products
					margin-bottom 40px
					
					&::before
						content "How Much Can You Contribute?"
						display block
						font-family 'roboto', sans-serif
						font-weight 900
						font-size 1.17em
						margin-bottom 1em

					li
						display inline-block
						margin-right 40px
	
						span.attributes,
						span.dash,
						span.price
							display none
						
						label
							display inline
							
							input
								width initial
								margin auto
			
			.create-account
				display none !important
			
			abbr.required
				text-decoration none
				border-bottom none

			#order_review
				.opc_order_review
					display none !important
					
				#payment
					.wc_payment_methods
						.wc_payment_method
							margin-top 40px
							
							&:first-of-type
								margin-top 0

							input.input-radio
								width initial
								display inline-block
							
							label
								display inline-block

// form modules								
.form-success
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 99999999
	color $white
	background rgba(71, 153, 252, .9)
	box-sizing border-box
	padding 10% 20%
	font-family 'Roboto', sans-serif
	font-size 3rem
	font-weight 900
	
	a
		color $white
		padding-bottom 10px
		border-bottom 3px solid $white
	
		&.close-button
			background $white
			color $light_blue
			padding 10px 30px
			border-radius 2px
			border-bottom 0
			cursor pointer

@media all and (max-width:640px)
	body
		&.page-template-page-form
			.section-tabs
				margin-bottom 40px !important
			
	.form-page
		form
			.grouping
				&.legal
					.open-legal
						width 100%
						box-sizing border-box
						padding 0 25px 25px 25px !important
				
			.insetWrapper
				padding 40px 30px 30px 30px !important