body
	&.home
		.page-banner
			height 85vh
			
			i.fa
				display block !important	
	
		footer#footer
			margin-top 0 !important

#partners
	display none
	background $offwhite
	text-align center
	padding 100px 0
 	
	#partners-list
		padding 0
		list-style-type none
		
		li
			display inline-block
			
			.partner-logo
				height 100px
				
				img
					height 100%
					width auto
				
			p
				font-style italic

#content-blocks
	div
		&:nth-of-type(1)
			&:hover
				background $red
				
			a
				&:hover, &:visited
					color $white
		
		&:nth-of-type(2)
			&:hover
				background $yellow
				 
			a
				&:hover, &:visited
					color $white
			
		&:nth-of-type(3)
			&:hover
				background $light_blue
				
			a
				&:hover, &:visited
					color $white
				
.component
	position relative
	// padding-top 100px
	// padding-bottom 100px
	
	a, a:visited
		color $deep_blue

	&.media
		-webkit-transition all .1s ease-in-out
		-moz-transition all .1s ease-in-out
		-ms-transition all .1s ease-in-out
		-o-transition all .1s ease-in-out
		transition all .1s ease-in-out
		
		// &::before
		// 	content ""
		// 	width 50%
		// 	height 1px
		// 	position absolute
		// 	bottom 0
		// 	left 50%
		// 	-webkit-transform translateX(-50%)
		// 	-moz-transform translateX(-50%)
		// 	transform translateX(-50%) 
		// 	background $light_grey
		
		aside
			display inline-block
			box-sizing border-box
			
			&:first-of-type
				width 55%
				float left
			
			&:last-of-type
				position absolute
				top 50%
				-webkit-transform translateY(-50%)
				-moz-transform translateY(-50%)
				transform translateY(-50%)
				width 45%
				padding 0 7.5%
				text-align center
				
				.secondary-title
					font-style italic
		
		&:nth-of-type(2n)
			aside:first-of-type
				float right
		
		&:last-of-type
			&::before
				display none

	&.image	
		aside:first-of-type
			padding-bottom 40%
	
	&.video
		aside:first-of-type
			padding 0
	
	&.pullquote
		width 75%
		margin 0 auto
		
		h1 
			font-family $serif !important
			text-align center
			
		p
			width 100%
			padding-right 10%
			box-sizing border-box
			text-align right

// @media all and (max-width:1024px) and (min-width:641px)

@media all and (max-width:640px)
	.component
		padding-top 0 !important
		padding-bottom 40px !important
		
		&.media
			border-bottom none 
			
			aside
				position relative !important
				width 100% !important
				float none
				-webkit-transform none !important
				-moz-transform none !important
				transform none !important
				
				&:last-of-type
					margin-top 20px !important
		
		&::before
			display none
		
		&.image
			aside:first-of-type
				padding-bottom 66%
		
		&.pullquote
			width 100%
			
			h1
				font-size 1.25em
