/* general styles */
body {
  color: $deepBlue;
  font-family: $serif;
  font-size: 11pt;
}
body .inner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
body .content-wrap {
  width: 90%;
  max-width: 1440px;
  margin: 50px auto;
}
body >.content-wrap a {
  color: #000;
  text-decoration: none;
  padding: 0px 3px;
  margin: 0 -3px;
  box-shadow: 0 -5px 0 $yellow inset;
  font-variant: small-caps;
  text-transform: lowercase;
  transition: background-color 0.2s ease;
}
body >.content-wrap a:hover {
  background-color: #ffd569;
}
.clear {
  clear: both;
}
a,
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $sansSerif !important;
}
/* call to action component */
div.cta-section {
  padding: 100px 0;
  text-align: center;
  transition: background 0.2s ease-in-out;
}
div.cta-section:hover {
  background: $offwhite;
}
div.cta-section h1,
div.cta-section p {
  margin: 0 auto;
}
div.cta-section h1 {
  max-width: 750px;
}
div.cta-section a.cta-button {
  display: block;
  max-width: 300px;
  background: $lightBlue;
  box-shadow: 0 1px 0 #336fb0;
  border-top: 1px solid #68abfd !important;
  border-radius: 2.5px;
  padding: 25px;
  margin: 50px auto;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: $white;
  font-family: $sansSerif;
  font-weight: 900;
  text-align: center;
}
div.cta-section a.cta-secondary {
  color: $deepBlue;
  font-style: italic;
}
div.cta-section a.cta-secondary:hover {
  border-bottom: 1px solid $deepBlue;
}
/* page banners */
.page-banner {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  color: #fff;
  font-family: $sansSerif;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0;
}
.page-banner h1 {
  line-height: 1.25em;
  transition: font-size 0.2s ease-in-out;
}
.page-banner .carousel-slide {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px -3px 0 #bd202f inset;
}
.page-banner .carousel-slide.banner-video {
  overflow: hidden;
  top: -1px;
  box-shadow: 0px -3px 0 #bd202f inset;
}
.page-banner .carousel-slide.banner-video #video {
  position: absolute;
  top: 50%;
  left: 50%;
  webkit-transform: translate(-50%, -50%);
  moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto;
  min-width: 101%;
  min-height: 101%;
}
.page-banner .carousel-slide.banner-video .video-caption {
  position: absolute;
  bottom: 100px;
  right: 80px;
  text-align: right;
  font-size: 5rem;
  margin: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}
.page-banner .carousel-slide.banner-text h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 33%;
  max-width: 550px;
  margin: 0;
  font-size: 6rem;
}
.page-banner .carousel-slide.banner-image .title {
  margin: 0;
  position: absolute;
  color: $white;
  bottom: 80px;
  right: 40px;
  font-size: 4rem;
  text-align: right;
  text-shadow: 0 0 30px #11242f;
  line-height: 1em;
}
.page-banner .carousel-slide.banner-image .caption {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 0.8rem;
  white-space: normal;
  text-align: left;
  color: #6a7086;
  box-sizing: border-box;
  padding: 15px 25px;
  background: $white;
  font-family: $serif;
  font-style: italic;
}
.page-banner i.fa {
  display: none;
  position: absolute;
  z-index: 10;
  font-size: 5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}
.page-banner i.fa.slide-forward {
  right: 20px;
}
.page-banner i.fa.slide-back {
  left: 20px;
}
.page-banner i.fa.slide-down {
  top: initial;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
}
.page-banner i.fa:hover {
  opacity: 1;
  cursor: pointer;
}
/* section header */
.info-header,
.page-header {
  position: relative;
  width: 75%;
  max-width: 650px;
  margin: 50px auto 0;
  padding: 50px;
}
.info-header ::before,
.page-header ::before {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $lightGrey;
}
.info-header ::after,
.page-header ::after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $lightGrey;
}
.info-header h1,
.page-header h1 {
  font-family: $serif !important;
  text-align: center;
}
/* page builder classes */
.content-wrap .info-header {
  width: 66%;
  max-width: 650px;
  margin: auto;
}
.content-wrap .info-header p {
  font-size: 1.25em;
}
.content-wrap .pull-quote {
  position: relative;
  width: 75%;
  max-width: 650px;
  margin: 0 auto;
  padding: 50px;
}
.content-wrap .pull-quote ::before,
.content-wrap .pull-quote ::after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $lightGrey;
}
.content-wrap .pull-quote ::after {
  top: initial;
  bottom: 0;
}
.content-wrap .pull-quote h1 {
  font-family: $serif !important;
  text-align: center;
}
.content-wrap .textwidget p:first-of-type,
.content-wrap .textwidget h2:first-of-type {
  margin-top: 0;
}
/* donate banner */
.donate-banner {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px 30px;
  box-sizing: border-box;
  background: $blueGrey;
  font-family: $sansSerif;
}
.donate-banner .close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  font-size: 2em;
}
.donate-banner .close-button:focus {
  outline: none;
}
@media all and (max-height: 700px) {
  .page-banner h1 {
    font-size: 4.5rem !important;
  }
}
@media all and (max-width: 1300px) and (min-width: 981px) {
  .page-banner h1 {
    font-size: 4.5rem !important;
  }
}
@media all and (max-width: 980px) and (min-width: 841px) {
  .page-banner h1 {
    font-size: 3.5rem !important;
  }
}
@media all and (max-width: 840px) and (min-width: 641px) {
  .page-banner h1 {
    font-size: 2.5rem !important;
  }
}
@media all and (max-width: 640px) {
  body {
    font-size: 9pt;
  }
  .content-wrap {
    margin-top: 20px;
  }
  .page-banner {
    height: 35vh !important;
  }
  .page-banner h1 {
    width: initial !important;
    font-size: 1.5rem !important;
    white-space: pre;
  }
  .page-banner h1 br {
    display: none;
  }
  .page-banner i {
    font-size: 2rem !important;
  }
  .page-banner .carousel-slide.banner-text h1 {
    width: 80%;
  }
  .page-banner .carousel-slide.banner-video {
    background-size: cover !important;
  }
  .page-banner .carousel-slide.banner-video #video {
    display: none;
  }
  .page-banner .carousel-slide.banner-video h1 {
    width: 40%;
  }
  .page-banner .carousel-slide.banner-image .caption {
    font-size: 0.8rem;
  }
  .page-banner .carousel-slide.banner-image i {
    display: none !important;
  }
  .info-header,
  .page-header {
    padding: 20px 0;
    width: 90%;
    margin: 20px auto 40px;
  }
  .content-wrap .panel-grid-cell {
    margin-bottom: 20px !important;
  }
  .content-wrap .panel-grid {
    margin-bottom: 20px !important;
  }
  .content-wrap .pull-quote {
    width: 100% !important;
    padding: 20px 0 !important;
  }
  .content-wrap .info-header {
    margin-top: 50px !important;
    width: 100%;
  }
  .cta-section {
    padding: 40px 10% 40px !important;
    background: $offwhite;
    border-top: 1px solid $lightGrey;
  }
}
