header#header
  position fixed
  top 0
  z-index 99999 !important
  width 100%
  height 50px
  box-shadow 0 1px 2px rgba(0,0,0,0)
  background transparent
  transition background $time ease-in-out, box-shadow $time ease-in-out

  &.scrolled
    background #fff
    box-shadow 0 1px 2px rgba(0,0,0,.1)

    .menu-main-navigation-container,
    .menu-secondary-navigation-header-menu-container
      ul
        li
          a
            color $deepBlue
            text-shadow none

  #logo
    margin-left 10px
    display inline-block
    border-radius 0 0 50px 50px
    overflow hidden

    a.custom-logo-link
      display inline-block

    img
      width auto
      height 50px

  .menu-main-navigation-container
    right 0

    ul li:last-of-type
      margin-right 0
      background $yellow

      a, a:visited
        padding 15px 20px
        color $white
        letter-spacing .025em
        text-shadow none

  .menu-secondary-navigation-header-menu-container
    left 70px

  .menu-main-navigation-container,
  .menu-secondary-navigation-header-menu-container
    position absolute
    top 50%
    transform translateY(-50%)
    // right 0
    // transform translateY(-50%)

    ul
      margin 0
      padding 0

      li
        display inline-block
        list-style-type none

        a, a:visited
          font-family $sansSerif
          color white
          padding 15px
          display block
          font-weight 100
          text-shadow 0 1px 1px rgba(0,0,0,0.4)
          transition color $time ease-in-out

body
  &.admin-bar
    header#header
      top 32px

@media all and (max-width:640px)
  body
    &.admin-bar
      header#header
        top 46px

    header#header
      height initial

      .inner-wrap
        float left

        #logo
          float inherit

          a
            img
              height 45px

      &.scrolled
        .menu-main-navigation-container,
        .menu-secondary-navigation-header-menu-container
          ul
            li
              a
                color $deepBlue !important

      .menu-main-navigation-container
        overflow-x scroll
        position initial
        float right
        transform initial
        display none

        &::-webkit-scrollbar
          display none