header#header {
  position: fixed;
  top: 0;
  z-index: 99999 !important;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0);
  background: transparent;
  transition: background $time ease-in-out, box-shadow $time ease-in-out;
}
header#header.scrolled {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
header#header.scrolled .menu-main-navigation-container ul li a,
header#header.scrolled .menu-secondary-navigation-header-menu-container ul li a {
  color: $deepBlue;
  text-shadow: none;
}
header#header #logo {
  margin-left: 10px;
  display: inline-block;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}
header#header #logo a.custom-logo-link {
  display: inline-block;
}
header#header #logo img {
  width: auto;
  height: 50px;
}
header#header .menu-main-navigation-container {
  right: 0;
}
header#header .menu-main-navigation-container ul li:last-of-type {
  margin-right: 0;
  background: $yellow;
}
header#header .menu-main-navigation-container ul li:last-of-type a,
header#header .menu-main-navigation-container ul li:last-of-type a:visited {
  padding: 15px 20px;
  color: $white;
  letter-spacing: 0.025em;
  text-shadow: none;
}
header#header .menu-secondary-navigation-header-menu-container {
  left: 70px;
}
header#header .menu-main-navigation-container,
header#header .menu-secondary-navigation-header-menu-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header#header .menu-main-navigation-container ul,
header#header .menu-secondary-navigation-header-menu-container ul {
  margin: 0;
  padding: 0;
}
header#header .menu-main-navigation-container ul li,
header#header .menu-secondary-navigation-header-menu-container ul li {
  display: inline-block;
  list-style-type: none;
}
header#header .menu-main-navigation-container ul li a,
header#header .menu-secondary-navigation-header-menu-container ul li a,
header#header .menu-main-navigation-container ul li a:visited,
header#header .menu-secondary-navigation-header-menu-container ul li a:visited {
  font-family: $sansSerif;
  color: #fff;
  padding: 15px;
  display: block;
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  transition: color $time ease-in-out;
}
body.admin-bar header#header {
  top: 32px;
}
@media all and (max-width: 640px) {
  body.admin-bar header#header {
    top: 46px;
  }
  body header#header {
    height: initial;
  }
  body header#header .inner-wrap {
    float: left;
  }
  body header#header .inner-wrap #logo {
    float: inherit;
  }
  body header#header .inner-wrap #logo a img {
    height: 45px;
  }
  body header#header .menu-main-navigation-container {
    overflow-x: scroll;
    position: initial;
    float: right;
    transform: initial;
    display: none;
  }
  body header#header .menu-main-navigation-container::-webkit-scrollbar {
    display: none;
  }
}
