body.page-template-page-team .content-wrap .section-wrap {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $blue_grey;
}
body.page-template-page-team .content-wrap .section-wrap:last-of-type {
  border-bottom: none;
}
body.page-template-page-team .content-wrap .section-wrap#board .team-member {
  width: 32.5%;
  margin-right: 0.5%;
}
body.page-template-page-team .content-wrap .section-wrap#mentioned-volunteers .volunteers {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
body.page-template-page-team .content-wrap .section-wrap .title {
  font-style: italic;
  margin-bottom: 20px;
}
body.page-template-page-team .content-wrap .section-wrap .team-member {
  display: inline-block;
  width: 24%;
  margin: 0 1% 2% 0;
  vertical-align: top;
}
body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(4n) {
  margin-right: 0;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .headshot {
  display: inherit;
  width: 100%;
  padding-bottom: 75%;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .headshot.empty {
  background: $blue_grey;
}
body.page-template-page-team .content-wrap .section-wrap .team-member .personal-info {
  text-align: left;
  font-size: 0.8em;
  margin: 5px 0 0 0;
}
@media all and (max-width: 1380px) {
  body.page-template-page-team .content-wrap .section-wrap .team-member {
    margin-right: 0.5%;
  }
}
@media all and (max-width: 960px) and (min-width: 641px) {
  body.page-template-page-team .content-wrap .section-wrap .team-member {
    width: 32.5%;
    margin-right: 0.5%;
  }
  body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(2n) {
    margin-right: 0.5%;
  }
  body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media all and (max-width: 640px) {
  body.page-template-page-team .content-wrap .section-wrap .team-member,
  body.page-template-page-team .content-wrap #board .team-member {
    width: 48% !important;
    margin-right: 1% !important;
    margin-bottom: 10px !important;
  }
  body.page-template-page-team .content-wrap .section-wrap .team-member:nth-of-type(2n),
  body.page-template-page-team .content-wrap #board .team-member:nth-of-type(2n) {
    margin-right: 0;
  }
  body.page-template-page-team .content-wrap .section-wrap#info-header div,
  body.page-template-page-team .content-wrap #board#info-header div {
    width: 100%;
    max-width: none;
  }
  body.page-template-page-team .content-wrap .section-wrap#info-header div p,
  body.page-template-page-team .content-wrap #board#info-header div p {
    font-size: 1.25em;
    margin-bottom: 0;
  }
  body.page-template-page-team .content-wrap .section-wrap#mentioned-volunteers .volunteers,
  body.page-template-page-team .content-wrap #board#mentioned-volunteers .volunteers {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}
