body
  &.page-template-page-team
    .content-wrap
      .section-wrap
        padding-bottom 50px
        border-bottom 1px solid $blueGrey
        width 100%
        display inline-block

        &:last-of-type
          border-bottom none

        &#board
          .team-member
            width 33.3333%
            margin-right 0

            &:last-of-type
              border-right none

        &#mentioned-volunteers
          .volunteers
           column-count 3

        .title
          font-style italic
          margin-bottom 20px

        .team-member
          display inline-block
          width 25%
          margin 0 0 2% 0
          vertical-align top
          float left

          &:nth-of-type(4n)
           margin-right 0

          .headshot
           display inherit
           width 100%
           border 5px solid $whiteAlternate
           box-sizing border-box
           padding-bottom 75%

           &.empty
             background $blueGrey

          .personal-info
            text-align left
            font-size .8em
            margin 5px 0 0 5px
            overflow hidden
            white-space nowrap
            text-overflow ellipsis

            span:nth-of-type(2)
              font-size .6rem

@media all and (max-width:960px) and (min-width:641px)
  body
   &.page-template-page-team
     .content-wrap
      .section-wrap
        .team-member
         width 32.5%
         margin-right .5%

         &:nth-of-type(2n)
           margin-right .5%

         &:nth-of-type(3n)
           margin-right 0

@media all and (max-width:640px)
  body
   &.page-template-page-team
     .content-wrap
      .section-wrap, #board
        .team-member
         width 50% !important
         // margin-right 0 !important
         margin-bottom 10px !important

         &:nth-of-type(2n)
           margin-right 0

        &#info-header
         div
           width 100%
           max-width none

           p
            font-size 1.25em
            margin-bottom 0

        &#mentioned-volunteers
         .volunteers
           column-count 1 !important
