/* colors */

$deep_blue = #11242f
$light_blue = #4799fc//#126a96
$blue_grey = #78858A
$light_grey = #e5e5e6
$yellow = #ffc328	
$white = #fff
$offwhite = #f7f7f7
$red = #d63545

/* aspect ratios */

$mobile = 640px

/* typography */

$serif = 'Libre Baskerville', serif
$sans_serif = 'Roboto', sans-serif