/* colors */

$deepBlue = #11242f
$lightBlue = #4799fc  //#126a96
$blueGrey = #78858A
$lightGrey = #e5e5e6
$yellow = #ffc328
$white = #fff
$offwhite = #f7f7f7
$red = #d63545

/* transition times */

$time = 100ms

/* aspect ratios */

$mobile = 640px

/* typography */

$serif = 'Libre Baskerville', serif
$sansSerif = 'Roboto', sans-serif